@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>
    Admin: Manage Menu Items
</h1>
<p>
    If you see this page, you are logged in as a FoodTruck Admin!
</p>